<section class="slide slide--split-text-thirds style="<%= styles %>">
  <h2 class="slide__topic"><%= topic %></h2>
  <h3 class="slide__headline"><%= headline %></h3>
  <div class="cols">
    <div class="third"><%= column_1 %></div>
    <div class="third"><%= column_2 %></div>
    <div class="third"><%= column_3 %></div>
  </div>
</section>