<!doctype html>
<html itemscope itemtype="http://schema.org/Article">
  <head>
    <title><%= current_page.data.page_title || 'Todd Moy' %></title>

    <link rel="icon" type="image/png" href="<%= @site_favicon_image %>" />

    <%= stylesheet_link_tag "all" %>
    <%= javascript_include_tag  "all" %>

    <%= partial "partials/global/head-meta" %>
    <%= partial "partials/global/ga" %>
    <%= partial "partials/global/segment" %>
  </head>

  <body class="<%= page_classes %>">
    <div class="demo-div">
    <h1><%= current_page.data.page_title %></h1>
    <h2><%= current_page.data.client %></h1>
    <p><%= current_page.data.overview %></p>

    <%= yield %>
    </div>

    <!-- next case study -->

  </body>
</html>
