---
title: Demo 1
---

<section class="cover scene_element scene_element--fadeinup">
  <div class="container">
    <h1 class="page__title">Demo 1</h1>
    <p class="page__summary"><%= lorem.sentences 2 %></p>
  </div>
</section>

<section class="chapter">
  <div class="container">
    <h2 class="chapter__title">Overview</h2>
    <div class="chapter__body">
      <p><%= lorem.paragraph %></p>
      <p><%= lorem.paragraph %></p>
    </div>
  </div>
</section>

<section class="chapter chapter--grey-03 chapter--img-flush-bottom">
  <div class="container">
    <img src="Bitmap.png" alt="" />
  </div>
</section>

<section class="chapter">
  <div class="container">
    <h2 class="chapter__title">Overview</h2>
    <div class="chapter__body">
      <p><%= lorem.paragraph %></p>
      <p><%= lorem.paragraph %></p>
      <blockquote>
        <p>Blockquote P <%= lorem.paragraph %></p>
        <p>Blockquote P <%= lorem.paragraph %></p>
      </blockquote>
    </div>
  </div>
</section>

<section class="chapter chapter--grey-03">
  <div class="container">
    <img src="thunderbolt@1x.png" alt="" />
  </div>
</section>
