---
page_title: Content Analyst Definer
client: Content Analyst
project: Definer
description: How to Train an Algorithm
keywords:
---

<%= partial "partials/slides/basic-text",
    :locals => {
      :topic => "Overview",
      :headline => "Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Vestibulum id ligula porta felis euismod semper.",
      :body => "<p>Lorem <strong>ipsum</strong> dolor sit amet, consectetur adipisicing elit. Labore saepe, voluptatibus provident ut magnam expedita, cupiditate asperiores autem minima molestias esse soluta ipsum facere, sit quis repellendus quod voluptas ex.</p>",
      :styles => ""
} %>

<%= partial "partials/slides/chapter",
    :locals => {
      :title => "Three Key Learnings",
      :styles => ""
} %>

<%= partial "partials/slides/basic-text",
    :locals => {
      :topic => "Three Key Learnings",
      :headline => "Use Trello to record usability issues",
      :body => "<p>To avoid writing a testing report, I had the project and product managers participate as silent observers. After each test, we'd regroup and record any issues in Trello. Later, we used Trello's ordering and color-coding features to identify priority and effort. Recommended changes were posted as comments on the card.</p>",
      :styles => ""
} %>

<%= partial "partials/slides/basic-text",
    :locals => {
      :topic => "Three Key Learnings",
      :headline => "Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Donec sed odio dui.",
      :body => "",
      :styles => ""
} %>

<%= partial "partials/slides/split-image",
    :locals => {
      :topic => "Three Key Learnings",
      :headline => "Keep people involved",
      :body => "<p>Each week, we had a standing meeting where we showed the current work. These meetings were attended by their product, development, and quality assurance teams.</p>",
      :image_url => "img.png",
      :image_alt_text => "this is the alt text",
      :flip => true,
      :styles => ""
} %>

<%= partial "partials/slides/split-image",
    :locals => {
      :topic => "Three Key Learnings",
      :headline => "Keep people involved",
      :body => "<p>Each week, we had a standing meeting where we showed the current work. These meetings were attended by their product, development, and quality assurance teams.</p>",
      :image_url => "http://blog.getprismatic.com/content/images/2014/May/sketches-1.jpg",
      :image_alt_text => "this is the alt text",
      :flip => false,
      :styles => ""
} %>

<%= partial "partials/slides/split-image",
    :locals => {
      :topic => "Three Key Learnings",
      :headline => "Keep people involved",
      :body => "<p>Each week, we had a standing meeting where we showed the current work. These meetings were attended by their product, development, and quality assurance teams.</p>",
      :image_url => "http://blog.getprismatic.com/content/images/2014/May/sketches-1.jpg",
      :image_alt_text => "this is the alt text",
      :flip => true,
      :styles => ""
} %>

<%= partial "partials/slides/quote",
    :locals => {
      :quote => "<p>It was the best of times, it was the worst of times.</p>",
      :citation => "John Brown",
      :styles => ""
} %>

<%= partial "partials/slides/full-image",
    :locals => {
      :topic => "Approach",
      :image_url => "img-3.jpg",
      :image_alt_text => "John Brown",
      :styles => ""
} %>

<%= partial "partials/slides/basic-text",
    :locals => {
      :topic => "Three Key Learnings",
      :headline => "Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Donec sed odio dui.",
      :body => "",
      :styles => ""
} %>

<%= partial "partials/slides/split-text-thirds",
    :locals => {
      :topic => "Three Key Learnings",
      :headline => "",
      :column_1 => "<p><strong>This is a finding</strong></p><p>Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed posuere consectetur est at lobortis.</p>",
      :column_2 => "<p><strong>This is a finding</strong></p><p>Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Aenean lacinia bibendum nulla sed consectetur.</p>",
      :column_3 => "<p><strong>This is a finding</strong></p><p>Cras mattis consectetur purus sit amet fermentum. Curabitur blandit tempus porttitor. Donec id elit non mi porta gravida at eget metus.</p>",
      :styles => ""
} %>
